body {
background-color: cyan;
}    
h1 {
    color: green;
    text-align: center;
    font-family: verdana;
    font-size: 25px;
}

input[type=text] {
    width: 50%;
    border: 2px solid green;
    border-radius: 4px;
    
}
input[type=password] {
    width: 50%;
    border: 2px solid green;
    border-radius: 4px;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    border-radius: 4px;
    width: 50%;
    
}